@import url("https://fonts.googleapis.com/css?family=Oswald:500,600|Roboto:300,400,700");
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

html {
  font-size: 62.5%; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  background-color: #FFFFFF !important;
  overflow: visible !important;
  padding-right: 0 !important;
  margin: 0; }

#root {
  direction: ltr; }

a {
  text-decoration: none;
  color: #000; }

#signUpContainer,
#logInContainer {
  background-color: #f4f4f4;
  height: 100vh; }

.mainLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 3rem 0; }
  .mainLogo img {
    height: 100px;
    width: 100px; }

#signUpContainer .mainCard,
#logInContainer .mainCard {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

.form-title {
  text-align: center;
  color: #554a4a;
  font-weight: normal;
  margin: 1rem 0;
  letter-spacing: 1px;
  font-size: 2.4rem; }

.mainSignUpForm,
.mainLogInForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f4f4f4; }

.mainSignUpForm label,
.mainLogInForm label {
  font-size: 1.6rem; }

.mainSignUpForm input,
.mainLogInForm input {
  padding: 10px;
  border: 1px solid #CCC;
  margin-top: 1rem;
  border-radius: 5px;
  font-size: 1.3rem;
  min-width: 400px;
  height: 1.8rem; }

.mainSignUpForm .password-container,
.mainLogInForm .password-container {
  width: 100%;
  position: relative; }
  .mainSignUpForm .password-container .password-icon,
  .mainLogInForm .password-container .password-icon {
    position: absolute;
    top: 3.7rem;
    right: 0; }

/* Change the white to any color ;) */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset; }

.swal2-container.swal2-shown {
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999; }

.mainSignUpFormFooter,
.mainLogInFormFooter {
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
  margin: 0; }
  .mainSignUpFormFooter button,
  .mainLogInFormFooter button {
    font-size: 1.5rem;
    padding: 1rem 4rem;
    font-weight: normal; }
  .mainSignUpFormFooter .switch-link,
  .mainLogInFormFooter .switch-link {
    color: gray; }
    .mainSignUpFormFooter .switch-link span,
    .mainLogInFormFooter .switch-link span {
      text-transform: uppercase;
      margin-left: 0.7rem;
      color: #f10e75;
      font-weight: 100; }
  .mainSignUpFormFooter .SignUpSubmit,
  .mainSignUpFormFooter .loginSubmit,
  .mainLogInFormFooter .SignUpSubmit,
  .mainLogInFormFooter .loginSubmit {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff6a05+0,f00d75+100 */
    background: #ff6a05;
    /* Old browsers */
    background: -moz-linear-gradient(left, #ff6a05 0%, #f00d75 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ff6a05 0%, #f00d75 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ff6a05 0%, #f00d75 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6a05', endColorstr='#f00d75',GradientType=1 );
    /* IE6-9 */
    color: #FFF;
    margin: 2rem 0; }

.completed-input p {
  color: lightgreen;
  margin: 0;
  font-size: 12px;
  font-weight: bold; }

.error-input p {
  color: lightcoral;
  margin: 0;
  font-size: 12px;
  font-weight: bold; }

.SignUpFormInput,
.LogInFormInput {
  width: 100%; }

.formFooter {
  width: 40%;
  text-align: center;
  padding: 0;
  margin: .3rem 0; }
  .formFooter span {
    text-transform: uppercase;
    font-weight: 100;
    color: #f42d4b; }

.swal2-container .formModal .swal2-title {
  color: #f10e75;
  font-weight: bold;
  font-size: 2rem;
  margin: 2rem 0px; }

.swal2-container .formModal #swal2-content {
  font-size: 2rem;
  color: #f10e75;
  font-weight: bold;
  letter-spacing: 1px; }

.swal2-container .formModal .swal2-styled.swal2-confirm {
  padding: 1rem 5rem;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1.5rem 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff6a05+0,f00d75+100 */
  background: #ff6a05;
  /* Old browsers */
  background: -moz-linear-gradient(left, #ff6a05 0%, #f00d75 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ff6a05 0%, #f00d75 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ff6a05 0%, #f00d75 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6a05', endColorstr='#f00d75',GradientType=1 );
  /* IE6-9 */
  color: #FFF;
  outline: none; }

.swal2-container .formModal .swal2-styled.swal2-confirm:hover {
  padding: 1rem 5rem;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1.5rem 0;
  opacity: .8;
  border: 0 !important;
  background-color: transparent !important;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff6a05+0,f00d75+100 */
  background: #ff6a05;
  /* Old browsers */
  background: -moz-linear-gradient(left, #ff6a05 0%, #f00d75 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ff6a05 0%, #f00d75 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ff6a05 0%, #f00d75 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6a05', endColorstr='#f00d75',GradientType=1 );
  /* IE6-9 */
  color: #FFF; }

.swal2-popup .swal2-actions:not(.swal2-loading) .swal2-styled:hover {
  background-image: linear-gradient(to right, #ff6a05 0%, #f00d75 100%) !important; }

.swal2-popup .swal2-styled:focus {
  outline: none !important;
  box-shadow: none !important; }

.difinixNavbar .mainDifinixNavbar {
  box-shadow: none;
  background-color: #FFF; }
  .difinixNavbar .mainDifinixNavbar .mainDifinixNavbar__toolbar {
    padding: 0px 5rem;
    min-height: 50px; }
  .difinixNavbar .mainDifinixNavbar .mainDifinixNavbar__logo img {
    height: 40px;
    width: 40px;
    margin-top: 2px; }
  .difinixNavbar .mainDifinixNavbar .mainDifinixNavbar__links {
    display: flex;
    margin: 0 5rem;
    flex: 1; }
    .difinixNavbar .mainDifinixNavbar .mainDifinixNavbar__links span {
      margin: 0 3rem; }

.mainCrmHero {
  overflow: hidden;
  height: 92vh;
  background-color: #038ccc; }

.mainCrmHero__container {
  height: 100%; }

.crmHeroNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  min-height: 80px; }
  .crmHeroNav .crmHeroNav__logo img {
    height: 50px;
    widows: 50px; }
  .crmHeroNav .crmHeroNav__links {
    display: flex; }
    .crmHeroNav .crmHeroNav__links span {
      margin: 0 3rem; }
      .crmHeroNav .crmHeroNav__links span a {
        color: #FFF; }

.mainCrmHero__container {
  height: 100%; }
  .mainCrmHero__container .crmHeroNav__container {
    height: 80px; }
  .mainCrmHero__container .crmHeroInfo__container {
    height: 100%; }
  .mainCrmHero__container .crmHeroImg__container {
    height: 100%; }

.crmHeroInfo {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5rem; }
